###########
# Objetos #
###########

*.o
builds/

###############
# Executaveis #
###############

*.out
miniRT

###############
# libft files #
###############

libft/builds/
libft/libft.a

##########
# Outros #
##########

